body{
    background-color: rgb(235, 218, 197);
}
.dongdong{
    position: relative;
    width: 415px;
    height: 1300px;
    margin: 0 auto;
    animation: full-ani 8s ease-in infinite ;
}
.dong-head{
    position: absolute;
    height: 235px;
    width: 215px;
    margin: 100px 100px 0 100px;
    margin-bottom: 0px;
    z-index: 3;
    animation: head-ani 8s ease-in-out infinite ;
    /* animation-delay: 3s; */
}
.head-main{
    position: absolute;
    top: 10px;
    width: 100%;
    height: 205px;
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40% ;
    background: #EFE8EF;
    border: 2px solid #000000;
    border-bottom: transparent;
    z-index: 1;
}
.head-main::after{
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    height: 30px;
    left: 60px;
    top: 3px;
    border-radius: 100% 0% 43% 57% / 39% 0% 100% 61%;
    background-color: #222;
}
.reverse{
    transform: scaleX(-1);
}
.head-l-ears{
    position: absolute;
    left: 5%;
    width: 80px;
    height: 85px;
    border-radius: 20% 100% 20% 15%;
    background: #EFE8EF;
    border: 2px solid #000000;
    transform: rotate(-14deg);
}
.head-l-ears::after{
    /* position: relative; */
    display: block;
    content: '';
    top: 85px;
    left: 105px;
    width: 70px;
    height: 85px;
    border-radius: 20% 100% 20% 15%;
    background: #E6BFE8;
    transform: translate(10px, 10px);
}
.head-r-ears{
    position: absolute;
    right: 5%;
    width: 80px;
    height: 85px;
    border-radius: 20% 100% 20% 15%;
    background: #EFE8EF;
    border: 2px solid #000000;
    transform: rotate(14deg) scaleX(-1);
}
.head-r-ears::after{
    /* position: relative; */
    display: block;
    content: '';
    top: 85px;
    left: 105px;
    width: 70px;
    height: 85px;
    border-radius: 20% 100% 20% 15%;
    background: #E6BFE8;
    transform: translate(10px, 10px);
}

.head-nouse{
    position: absolute;
    width: 30px;
    height: 20px;
    left: 43%;
    top: 55%;
    transform: scale(1);
    animation: nouse-ani 2s ease-in-out infinite;
    z-index: 1;
}
.nouse1{
    position: absolute;
    width: 15px;
    height: 10px;
    border-radius: 23% 51% 62% 17% / 48% 0% 77% 39% ;
    background-color: #E6BFE8;
    z-index: 1;
}
.nouse2{
    position: absolute;
    width: 15px;
    height: 10px;
    left: 50%;
    border-radius: 23% 51% 62% 17% / 48% 0% 77% 39% ;
    background-color: #E6BFE8;
    transform: scaleX(-1);
    z-index: 1;
}
.nouse3{
    position: absolute;
    width: 18px;
    height: 20px;
    left: 6px;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    background-color: #E6BFE8;
    z-index: 1;
}

.head-l-eyes{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 24%;
    top: 40%;
    background-color: #000000;
    border-radius: 23% 77% 77% 23% / 23% 23% 77% 77%;
    transform: rotate(28deg) scaleX(1);
    animation: l-eye-ani 4s ease-in-out infinite;
    z-index: 1;
}
.head-l-eyes::after{
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    top: 5px;
    left: 3px;
}
.head-r-eyes{
    position: absolute;
    width: 22px;
    height: 22px;
    right: 24%;
    top: 40%;
    background-color: #000000;
    border-radius: 23% 77% 77% 23% / 23% 23% 77% 77%;
    transform: rotate(58deg);
    animation: r-eye-ani 4s ease-in-out infinite;
    z-index: 1;
}
.head-r-eyes::after{
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    top: 5px;
    left: 3px;
}
.head-l-deard{
    position: absolute;
    z-index: 1;
    top: 44%;
    left: -14%;
}
.head-r-deard{
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 76%;
    transform: scaleX(-1);
}
.deard1{
    width: 80px;
    height: 20px;
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
    background-color: transparent;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform-origin: 80px 20px;
    animation: deard1-ani 1s ease-in-out infinite;
}
.deard2{
    width: 80px;
    height: 20px;
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    background-color: transparent;
    transform-origin: 80px 20px;
    transform: translate(0,-10px) rotate(-20deg);
    animation: deard2-ani 1s ease-in-out infinite;
}
.deard3{
    width: 80px;
    height: 20px;
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    background-color: transparent;
    transform-origin: 80px 20px;
    transform: translate(2px,-20px) rotate(-40deg);
    animation: deard3-ani 1s ease-in-out infinite;
}

.head-mouse{
    position: absolute;
    z-index: 1;
    top: 64%;
    left: 28%;
}
.mouse-l{
    position: absolute;
    width: 45px;
    height: 10px;
    border-radius: 100% 0% 78% 22% / 0% 0% 100% 100%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.mouse-r{
    position: absolute;
    left: 47px;
    width: 45px;
    height: 10px;
    border-radius: 100% 0% 78% 22% / 0% 0% 100% 100%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: scaleX(-1);
}

.dong-body{
    position: absolute;
    width: 300px;
    height: 620px;
    background-color: #EFE8EF;
    left: 58px;
    top: 240px;
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    border: 2px solid #000;  
    z-index: 2;
}
.dong-hand{
    position: absolute;
    width: 320px;
    height: 340px;
    left: 114px;
    top: 400px;
    z-index: 2;
}
.hand-l{
    position: absolute;
    width: 70px;
    height: 170px;
    background-color: #EFE8EF;
    border:2px solid #000;
    border-top: transparent;
    border-radius: 100% 0% 18% 82% / 0% 0% 100% 100%;
}
.hand-r{
    position: absolute;
    width: 70px;
    height: 170px;
    left: 110px;
    background-color: #EFE8EF;
    border:2px solid #000;
    border-top: transparent;
    border-radius: 100% 0% 18% 82% / 0% 0% 100% 100%;
    transform: scaleX(-1);
}

.dong-tail{
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 280px;
    background-color: #474047;
    border: 2px solid #000;
    border-radius: 50% 50% 50% 50% / 83% 82% 18% 17% ;
    transform-origin: 120px 280px 0px;
    transform: rotate(30deg);    
    top:480px;
    left: 210px;
    animation: tail-ani 2s ease-in-out infinite;
}
.dong-foot{
    position: relative;
    z-index: 1;
    top: 810px;
    left: 65px;
}
.foot-l{
    position: absolute;
    width: 70px;
    height: 50px;
    background-color: #EFE8EF;
    border: 2px solid #000;
    border-radius: 80% 20% 79% 21% / 83% 82% 18% 17%;
    transform: rotate(5deg);
}
.foot-r{
    position: absolute;
    left: 220px;
    width: 70px;
    height: 50px;
    background-color: #EFE8EF;
    border: 2px solid #000;
    border-radius: 80% 20% 79% 21% / 83% 82% 18% 17%;
    transform: scaleX(-1);
}

@keyframes head-ani{
    /* 8s */
    /* 0 */
    0% {
        transform: rotate(0deg);
    }
    /* 1 */
    12.5% {
        transform: rotate(0deg);
    }
    /* 2 */
    25% {
        transform: rotate(0deg);
    }
    /* 3 */
    37.5% {
        transform: rotate(0deg);
    }
    /* 4 */
    50% {
        transform: rotate(10deg);
    }
    /* 5 */
    62.5% {
        transform: rotate(0deg);
    }
    /* 6 */
    75% {
        transform: ;
    }
    /* 7 */
    87.5% {
        transform: ;
    }
    /* 8 */
    100% {
        transform: ;
    }
}
@keyframes full-ani{
    /* 8s */
    /* 0 */
    0% {
        transform: scale(100%) translate(0);
    }
    /* 1 */
    12.5% {
        transform: scale(100%) translate(0);
    }
    /* 2 */
    25% {
        transform: scale(100%) translate(0);
    }
    /* 3 */
    37.5% {
        transform: scale(250%) translate(0,400px);
    }
    /* 4 */
    50% {
        transform: scale(250%) translate(0,400px);
    }
    /* 5 */
    62.5% {
        transform: scale(250%) translate(0,400px);
    }
    /* 6 */
    75% {
        transform: scale(100%) translate(0);
    }
    /* 7 */
    87.5% {
        transform: scale(100%) translate(0);
    }
    /* 8 */
    100% {
        transform: scale(100%) translate(0);
    }
}
@keyframes tail-ani {
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(36deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
@keyframes deard1-ani{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes deard2-ani{
    0%{
        transform: translate(0,-10px) rotate(-20deg);
    }
    50%{
        transform: translate(0,-10px) rotate(-24deg);
    }
    100%{
        transform: translate(0,-10px) rotate(-20deg);
    }
}
@keyframes deard3-ani{
    0%{
        transform: translate(2px,-20px) rotate(-40deg);
    }
    50%{
        transform: translate(2px,-20px) rotate(-44deg);
    }
    100%{
        transform: translate(2px,-20px) rotate(-40deg);
    }
}
@keyframes l-eye-ani{
    0%{
        transform: rotate(28deg) scaleX(1);
    }
    96%{
        transform: rotate(28deg) scaleX(1);
    }
    98% {
        transform: rotate(90deg) scaleX(0.1);
    }
    100%{
        transform: rotate(28deg) scaleX(1);
    }
}
@keyframes r-eye-ani{
    0%{
        transform: rotate(58deg) scaleX(1);
    }
    96%{
        transform: rotate(58deg) scaleX(1);
    }
    98% {
        transform: rotate(90deg) scaleX(0.1);
    }
    100%{
        transform: rotate(58deg) scaleX(1);
    }
}
@keyframes nouse-ani{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}